@font-face {
  font-family: Play-Regular;
  src: url("../fonts/Play/Play-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Play-Bold;
  src: url("../fonts/Play/Play-Bold.ttf");
  font-style: normal;
  font-weight: 400;
}

html,
body {
  position: relative;
  font-family: Play-Regular, Arial, sans-serif !important;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  color: #1a1a1a;
  background-color: #222222be !important;
  height: 100%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  // scrollbar-color: #458245 #714826;     /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: none;  /* толщина */
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
  background-color: #000000;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #843465;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #0300be;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  // background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  // linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  // linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #000000;
}

::-webkit-scrollbar-button:vertical:end:increment {
  // background:
  //     linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  //     linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  //     linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #000000;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  // background:
  //     linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  //     linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  //     linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #000000;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  // background:
  //     linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  //     linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  //     linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #000000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

a {
  font-size: 16px;
  color: #dbdbdb;
  transition: 0.8s;
  &:hover {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 5px #ff0000;
  }
}

ul {
  list-style-type: none;
  padding: 0px;
}

ul.inline {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

 ul.inline li {
  display: inline;
  margin-right: 0px;
  padding: 0px;
  list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}


.footer__i-size {
  font-size: 25px;
}

// HEADER

.header__background {
  background-color: #000000ad;
}


// FOOTER

.footer__background {
  background-color: #000000de;
  margin-top: 4vh;
}
.footer__content {
  padding-top: 8vw;
  padding-bottom: 8vw;
}


// MAIN STYLES

.main {
  background-color: #000000ad;
  color: #dadada;
}
.main__content {
  padding-top: 50px;
  padding-bottom: 50px;
}